html
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        title Ihr Angebot wurde bestätigt
    body
        h2 Ihr Angebot wurde bestätigt
        p Ihr Angebot ist einsehbar bis:
            strong= expirationDate
        a(href=deletionUrl) Angebot löschen
        a(href=extensionUrl) Angebot verlängern
