html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= Bitte bestätigen Sie Ihr Angebot
    body
        h3 Bitte bestätigen Sie Ihr Angebot
        a(href=confirmUrl) Angebot bestätigen
