html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title Ihr Wohnungsangebot wurde gelöscht
        style
            include style.css
    body
        .wrapper
            .background
            .content
                h2 Ihr Wohnungsangebot wurde gelöscht
                p
                    div Wir haben Ihr Wohnungsangebot wie beantragt gelöscht.
                    div Wir hoffen, dass Sie Ihre Wohnung erfolgreich vermitteln konnten.
                p
                    .hint Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.


