html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title Löschung Ihres Wohnungsangebotes erfolgreich
        style
            include style.css
    body
        .content-wrapper
            .background
            .content
                h2 Löschung Ihres Wohnungsangebotes
                p
                    div Wir haben Ihr Wohnungsangebot wie beantragt gelöscht.
                    div Wir hoffen, dass Sie Ihre Wohnung erfolgreich vermitteln konnten.
                p: .hint Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.
                .center-wrapper: img.logo(src=logoSrc)
