html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title Löschung Ihres Wohnungsangebotes erfolgreich
    body
        h2 Löschung Ihres Wohnungsangebotes
        p
            div Wir haben Ihr Wohnungsangebot wie beantragt gelöscht.
            div Wir hoffen, dass Sie Ihre Wohnung erfolgreich vermitteln konnten.
        p Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.
