html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title Ihr Angebot wurde erfolgreich gelöscht
    body
        h2 Ihr Angebot wurde erfolgreich gelöscht.
