html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title Ihr Angebot wurde erfolgreich verlängert
    body
        h2 Ihr Angebot wurde erfolgreich verlängert.
        p Ihr Angebot ist einsehbar bis:
            strong= expirationDate
        a(href=deletionLink) Angebot löschen
        a(href=extensionLink) Angebot verlängern
