html
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        title Erneuerung Ihres Wohnungsangebotes erfolgreich
    body
        h2 Erneuerung Ihres Wohnungsangebotes
        p
            | Ihr Angebot wurde erfolgreich erneuert und ist jetzt bis zum
            |
            strong=expirationDate
            |
            | aktiv.
        p
            div Um das Angebot nochmals zu erneuern, klicken Sie bitte auf den folgenden Link:
            div: a(href=extensionUrl)=extensionUrl
        p
            div Um das Angebot zu löschen, klicken Sie bitte auf den folgenden Link:
            div: a(href=deletionUrl)=deletionUrl
        p Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.

