html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Ihr Angebot wurde erfolgreich verlängert.
            p Gueltig bis:
            p= expirationDate
