html
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        title Bestätigen Sie Ihr Wohnungsangebot
    body
        h2 Bestätigung Ihres Wohnungsangebotes erforderlich
        p
            | Vielen Dank, dass Sie ein Angebot auf
            |
            span=portalName
            |
            | erstellt haben.
        p
            div Um das Angebot zu aktivieren und zu bestätigen, dass Sie das Angebot erstellt haben, klicken Sie bitte auf den Link:
            div: a(href=confirmationUrl)=confirmationUrl
        p
            div Haben Sie kein Angebot erstellt, so können Sie diese E-Mail einfach ignorieren.
            div Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.
